.account {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 9px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
}

.account__title {
    margin: 0;
    margin-bottom: 15px;
    font-family: var(--third-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 122%;
    letter-spacing: -0.01em;
    color: var(--text-primary-color);
}

.account__balance {
    display: inline-block;
    margin-bottom: 25px;
}

.account__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account__transaction {
    display: flex;
    flex-direction: column;
}

.account__subtitle {
    margin: 0;
    margin-bottom: 2px;
    font-family: var(--second-family);
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: var(--text-primary-color);
}

.accoutn__date {
    font-family: var(--second-family);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.02em;
    color: var(--text-primary-color);
}