.account-data__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.account-data__top {
    display: flex;
    gap: 30px;
}

.account-data__plot {
    width: 100% !important;
    height: 363px !important;
}

@media (max-width: 1366px) {
    .account-data__top {
        flex-direction: column;
    }

    .account-data__plot {
        height: 600px !important;
    }
}