.header {
    background-color: var(--primary-color);
}

.header__wrapper {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.header__logo {
    margin-right: auto;
}

.nav__list {
    display: flex;
    gap: 30px;
}

.nav__link {
    padding: 14px 24px;
    border: 2px solid var(--primary-color);
    border-radius: 7px;
    font-size: 16px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: var(--primary-color);
    background-color: var(--light-color);
    transition: border 0.3s, color 0.3s, background-color 0.3s;
}

.nav__link:focus {
    border: 2px solid var(--primary-light-color);
    outline: none;
    color: var(--light-color);
    background-color: var(--primary-light-color);
}

@media (any-hover: hover) {
    .nav__link:hover {
        border: 2px solid var(--light-color);
        color: var(--light-color);
        background-color: var(--primary-color);
    }
}

.nav__link:active {
    border: 2px solid var(--primary-dark-color);
    outline: none;
    color: var(--light-color);
    background-color: var(--primary-dark-color);
}

.nav__link_active {
    background-color: var(--primary-lighter-color);
}

@media (max-width: 768px) {
    .header__wrapper {
        justify-content: center;
    }

    .header__logo {
        display: none;
    }

    .nav {
        overflow: scroll;
    }

    .nav__list {
        justify-content: space-between;
    }

    .nav__link {
        display: block;
    }
}