.history__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 320px 320px auto;
    gap: 30px;
}

.history__plot {
    width: 100% !important;
    height: 320px !important;
}