.icon_plus {
    width: 12px;
    height: 12px;
  }
  
  .icon_back {
    width: 12px;
    height: 16px;
  }
  
  .icon_mail {
    width: 24px;
    height: 24px;
  }
  
  .icon_rate-arrow {
    width: 20px;
    height: 10px;
  }
  