@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@400;500&display=swap');

:root {
  --font-family: "Ubuntu", sans-serif;
  --second-family: "Work Sans", sans-serif;
  --third-family: "Roboto", sans-serif;

  --primary-color: #116acc;
  --primary-light-color: #a0c3ff;
  --danger-color: #fd4e5d;
  --success-color: #76ca66;
  --text-primary-color: #000;
  --text-secondary-color: #374151;
  --text-muted-color: #6b7280;
  --text-table-color: rgba(0, 82, 255, 0.1);
  --background-color: #f3f4f6;
  --light-color: #fff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1440px;
  width: 100%;
}

.primary-btn {
  padding: 14px 21px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: -0.01em;
  color: var(--light-color);
  background-color: var(--primary-color);
}

.label {
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: var(--text-primary-color);
}

.control {
  padding: 8px 10px 8px 16px;
  border: 1px solid #9ca3af;
  border-radius: 7px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--text-muted-color);
}

.control::placeholder {
  color: var(--text-secondary-color);
}

.control_select {
  min-width: 300px;
}

.title {
  margin: 0;
  margin-bottom: 50px;
  font-family: var(--second-family);
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--text-primary-color);
}

.header {
  margin-bottom: 60px;
  background-color: var(--primary-color);
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.header__logo {
  margin-right: auto;
}

.nav__list {
  display: flex;
  gap: 30px;
}

.nav__link {
  padding: 14px 24px;
  border: 2px solid var(--primary-color);
  border-radius: 7px;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: var(--primary-color);
  background-color: var(--light-color);
}

.nav__link_active {
  background-color: var(--primary-light-color);
}

.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    '. auth-title'
    'auth-login-lbl auth-login-input'
    'auth-password-lbl auth-password-input'
    '. auth-submit-btn';
  align-items: center;
  gap: 20px 10px;
  padding: 60px;
  border-radius: 50px;
  background-color: var(--background-color);
  transform: translate(-50%, -50%);
}

.auth__title {
  grid-area: auth-title;
  margin: 0;
  font-family: var(--second-family);
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--text-primary-color);
}

.auth__label {
  justify-self: end;
}

.auth__label_login {
  grid-area: auth-login-lbl;
}

.auth__control_login {
  grid-area: auth-login-input;
}

.auth__label_password {
  grid-area: auth-password-lbl;
}

.auth__control_password {
  grid-area: auth-password-input;
}

.auth__submit-btn {
  grid-area: auth-submit-btn;
  max-width: 33%;
}

.accounts__menu {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.accounts__title {
  display: inline-block;
  margin: 0;
  margin-right: 30px;
}

.accounts__select {
  margin-right: auto;
}

.accounts__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.account {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 9px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
}

.account__title {
  margin: 0;
  margin-bottom: 15px;
  font-family: var(--third-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 122%;
  letter-spacing: -0.01em;
  color: var(--text-primary-color);
}

.account__balance {
  display: inline-block;
  margin-bottom: 25px;
}

.account__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account__transaction {
  display: flex;
  flex-direction: column;
}

.account__subtitle {
  margin: 0;
  margin-bottom: 2px;
  font-family: var(--second-family);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--text-primary-color);
}

.accoutn__date {
  font-family: var(--second-family);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--text-primary-color);
}

.banks__map {
  width: 75vw;
  height: 75vh;
}

.marker {
  width: 32px;
  height: 32px;
}

.account-data__account-details {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'account-title account-back-btn'
    'account-number account-balance';
  gap: 30px;
  margin-bottom: 30px;
}

.account-details__title {
  grid-area: account-title;
  margin: 0;
}

.account-details__back-btn {
  grid-area: account-back-btn;
}

.account-details__number {
  grid-area: account-number;
  font-family: var(--second-family);
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--text-primary-color);
}

.balance__container {
  grid-area: account-balance;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance__title {
  margin: 0;
  font-family: var(--second-family);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--text-primary-color);
}

.balance__value {
  font-family: var(--second-family);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--text-primary-color);
}

.account-data__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 320px auto;
  grid-template-areas:
    'transaction-form transaction-plot'
    'transaction-table transaction-table';
  gap: 30px;
}

.account-data__transaction-form {
  grid-area: transaction-form;
}

.account-data__plot {
  grid-area: transaction-plot;
  width: 100% !important;
  height: 320px !important;
}

.account-data__table {
  grid-area: transaction-table;
}

.transaction-form {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    'transaction-title .'
    'transaction-account-lbl transaction-account-input'
    'transaction-amount-lbl transaction-amount-input'
    '. transaction-submit-btn';
  align-items: center;
  gap: 20px 10px;
  padding: 60px;
  border-radius: 50px;
  background-color: var(--background-color);
}

.transaction-form__title {
  grid-area: transaction-title;
  margin: 0;
  font-family: var(--second-family);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--text-primary-color);
}

.transaction-form__label {
  justify-self: end;
}

.transaction-form__label_account {
  grid-area: transaction-account-lbl;
}

.transaction-form__control_account {
  grid-area: transaction-account-input;
}

.transaction-form__label_amount {
  grid-area: transaction-amount-lbl;
}

.transaction-form__control_amount {
  grid-area: transaction-amount-input;
}

.transaction-form__submit-btn {
  grid-area: transaction-submit-btn;
  max-width: 50%;
}

.plot {
  padding: 32px;
  border-radius: 50px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
}

.table {
  padding: 32px;
  border-radius: 56px;
  background-color: var(--background-color);
}

.table__table {
  width: 100%;
  border-collapse: collapse;
  caption-side: top;
}

.table__caption {
  margin-bottom: 30px;
  font-family: var(--second-family);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--text-primary-color);
  text-align: left;
}

.table__thead {
  width: 100%;
  background-color: var(--primary-color);
}

.table__tr {
  border-bottom: 2px solid var(--text-table-color);
}

.table__thead .table__tr {
  border: none;
}

.table__th {
  padding: 20px 20px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--light-color);
  text-align: left;
}

.table__th_from {
  border-radius: 15px 0 0 15px;
}

.table__th_date {
  border-radius: 0 15px 15px 0;
}

.table__td {
  padding: 20px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--text-secondary-color);
}

.transaction__data_positive {
  color: var(--success-color);
}

.transaction__data_negative {
  color: var(--danger-color);
}