.details {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        'account-title account-back-btn'
        'account-number account-balance';
    gap: 30px;
    margin-bottom: 30px;
}

.title {
    grid-area: account-title;
    margin: 0;
}

.backBtn {
    grid-area: account-back-btn;
}

.number {
    grid-area: account-number;
    font-family: var(--second-family);
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -0.02em;
    color: var(--text-primary-color);
}

.container {
    grid-area: account-balance;
}

.balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.balanceTitle {
    margin: 0;
    font-family: var(--second-family);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: var(--text-primary-color);
}

.balanceValue {
    font-family: var(--second-family);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.02em;
    color: var(--text-primary-color);
}

@media (max-width: 1024px) {
    .number {
        font-size: 20px;
    }

    .balanceTitle {
        font-size: 16px;
    }
    
    .balanceValue {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .details {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'account-back-btn'
            'account-title'
            'account-number'
            'account-balance';
        gap: 15px;
        margin-bottom: 30px;
    }

    .number {
        font-size: 16px;
    }
}