.tr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px 0;
}

.th {
    display: flex;
    align-items: center;
    font-family: var(--second-family);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: var(--text-primary-color);
}

.th::after {
    content: "";
    flex: 1;
    border-bottom: 1px dashed var(--text-primary-color);
    transform: translateY(10px);
}

.td {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--second-family);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: var(--text-primary-color);
}

.td::before {
    content: "";
    flex: 1;
    border-bottom: 1px dashed var(--text-primary-color);
    transform: translateY(10px);
}

.td_positive .td::before,
.td_positive .th::after {
    border-bottom: 1px dashed var(--success-color);
}

.td_negative .td::before,
.td_negative .th::after {
    border-bottom: 1px dashed var(--danger-color);
}

@media (max-width: 576px) {
    .th {
        font-size: 12px;
    }

    .td {
        font-size: 12px;
    }
}